# Nix
.direnv/
result
result-*
.go/
build/
bin/
tmp/

# Environment variables
.env
.env.*
!.env.example

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
crash.log
crash.*.log
infra/tfplan

# Operating system files
.DS_Store
