---
import Layout from "../layouts/Layout.astro";
import SiteHeader from "../components/SiteHeader.astro";
import LatestPost from "../components/LatestPost.astro";
import PostList from "../components/PostList.astro";
import FooterNav from "../components/FooterNav.astro";
import { getLatestPost, getAllPosts } from "../utils/posts";

const latestPost = getLatestPost();
const allPosts = getAllPosts();
---

<Layout>
  <div class="min-h-screen px-6 py-12 max-w-3xl mx-auto">
    <SiteHeader />
    <LatestPost post={latestPost} />
    <PostList posts={allPosts} />
    <FooterNav />
  </div>
</Layout>