---
// Progress indicator component for story timeline
---

<div class="fixed right-6 bottom-8 z-10 opacity-60">
  <div class="progress-character transition-all duration-500">
    <div class="relative w-6 h-10">
      <div
        class="progress-trunk absolute bottom-0 left-1/2 transform -translate-x-1/2 w-0.5 bg-bark-600 dark:bg-bark-400 rounded-full transition-all duration-300 ease-out"
        style="height: 15%"
      >
      </div>
      <div
        class="progress-flower absolute top-0 left-1/2 transform -translate-x-1/2 transition-all duration-500 ease-out"
        style="opacity: 0; transform: scale(0)"
      >
        <div class="relative w-4 h-4">
          <div
            class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-1 h-1 bg-flower-600 dark:bg-flower-400 rounded-full"
          >
          </div>
          <div
            class="absolute top-0 left-1/2 transform -translate-x-1/2 w-1 h-1 bg-flower-400 dark:bg-flower-300 rounded-full"
          >
          </div>
          <div
            class="absolute bottom-0 left-1/2 transform -translate-x-1/2 w-1 h-1 bg-flower-400 dark:bg-flower-300 rounded-full"
          >
          </div>
          <div
            class="absolute left-0 top-1/2 transform -translate-y-1/2 w-1 h-1 bg-flower-400 dark:bg-flower-300 rounded-full"
          >
          </div>
          <div
            class="absolute right-0 top-1/2 transform -translate-y-1/2 w-1 h-1 bg-flower-400 dark:bg-flower-300 rounded-full"
          >
          </div>
          <div
            class="absolute top-0.5 left-0.5 w-1 h-1 bg-flower-300 dark:bg-flower-200 rounded-full"
          >
          </div>
          <div
            class="absolute top-0.5 right-0.5 w-1 h-1 bg-flower-300 dark:bg-flower-200 rounded-full"
          >
          </div>
          <div
            class="absolute bottom-0.5 left-0.5 w-1 h-1 bg-flower-300 dark:bg-flower-200 rounded-full"
          >
          </div>
          <div
            class="absolute bottom-0.5 right-0.5 w-1 h-1 bg-flower-300 dark:bg-flower-200 rounded-full"
          >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
