package blog

templ Index(posts []Post) {
	<section>
		<header class="article-header">
			<h1>Writing</h1>
		</header>
		<ol class="post-list">
			for _, post := range posts {
				<li>
					<article>
						<a href={ templ.URL("/blog/" + post.Slug) }>
							<h2>{ post.Title }</h2>
							<p>{ post.Description }</p>
						</a>
					</article>
				</li>
			}
		</ol>
	</section>
}
