package about

templ View(page Page) {
	<article>
		<header class="article-header">
			<h1>{ page.Title }</h1>
			<p class="article-dek">{ page.Description }</p>
		</header>
		<div class="article-body">
			@templ.Raw(page.HTML)
		</div>
	</article>
}
