---
import "./src/styles/global.css";

export interface Props {
  title?: string;
  description?: string;
}

const {
  title = "Dev Wells",
  description = "Sometimes I just want to be weird, you know?",
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="description" content={description} />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-ivory text-forest">
    <slot />
  </body>
</html>

<style is:global>
  html {
    font-family: var(--font-sans);
    font-size: 16px;
    line-height: 1.618;
  }

  body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  * {
    box-sizing: border-box;
  }

  ::selection {
    background-color: var(--color-sage-200);
    color: var(--color-forest);
  }
</style>
